<!DOCTYPE html>
<html>
<head>
  <title>LessonRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'default', media: 'all' %>
  <%= stylesheet_link_tag    'vue-material.min', media: 'all' %>
  <%= stylesheet_link_tag    'vue-sample-app', media: 'all' %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>
<body>
<%= yield %>
<%= javascript_include_tag    'vue-sample-app' %>

</body>
</html>